/* sass author: Mauricio Ross */

$iconsearh : '<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700" class="svg-inline--fa fa-search fa-w-16 fa-1x"><path fill="gray" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path></svg>';

.searchbar{
    height: 7vh;
    background-color: #2C4F85 !important;
    display: flex;
    align-items: center;
    input{
        background-image: url("data:image/svg+xml;charset=utf-8,"+$iconsearh);
        background-repeat: no-repeat;
        background-position-y: 2px;
        background-position-x: 2px;
        position: absolute;
        border-radius: 3px;
        border: none;
        padding: 0.3rem;
        padding-left:30px;
        width: 20%;
        font-size: 16px;
        left: 10.6%;
    }
}
@media ( max-width:414px){
    .searchbar{
        input{
            width: 59%;
            font-size: 26px;
            left:14%;
            padding-left:51px;
        }
    }
}
@media ( max-width:375px){
    .searchbar{
        display: flex;
        justify-content: center;
        input{
            width: 64%;
            font-size: 16px;
            left:9%;
        }
    }
}
@media ( max-width:320px){
    .searchbar{
        display: flex;
        justify-content: center;
        input{
            width: 64%;
            font-size: 16px;
            left:10%;
        }
    }
}